@import 'bourbon/bourbon';
@import 'neat/neat';

$white: rgb(249, 244, 235);
$green: rgb(0, 180, 174);
$pink: rgb(229, 99, 133);

html, body {
  margin: 0;
}

body {
  font: 400 1em/1.38 'Adelle Sans';
  background-color: $white;
}

.header {
  width: 100%;
  background-color: $green;
  color: #FFFFFF;
  .site-name {
    font: normal 2.375em/1.38 Bree-Regular;
  }
  margin-bottom: $gutter;
}

.container {
  @include outer-container;
}

a {
  text-decoration: none;
  color: $green;
  &:hover {
    color: #000;
  }
}

input, label {
  background-color: $white;
  font-family: 'Adelle Sans';
  font-size: 1em;
  border: none;
  display: block;
  margin-top: $gutter;
  margin: $gutter/2 0;
  margin-top: $gutter;
  font-weight: 400;
  color: rgb(0, 0, 0);
  outline: none;
}

.routes {
  @include span-columns(4 of 12);
  .route {
    margin-bottom: $gutter;
    @include fill-parent;
    padding: $gutter;
    &:nth-child(2) {
      border: 3px solid $green;
      .winner { background-color: $green; }
      input {
        color: $green;
        border-bottom: 1px dotted $green;
      }
    }
    &:nth-child(5) {
      border: 3px solid $pink;
      .winner { background-color: $pink; }
      input {
        color: $pink;
        border-bottom: 1px dotted $pink;
      }
    }
    .inputs {
      @include fill-parent;
      .driver-icon {
        display: inline-block;
        @include span-columns(0.8 of 4);
        @include shift(0.2);
      }
      .driver-name {
        margin-top: $gutter/2;
      }
      label {
        @include span-columns(1 of 4);
        text-align: right;
        padding-right: 0;
      }
      input {
        @include span-columns(3 of 4);
        @include omega;
        text-overflow: ellipsis;
        margin-left: 0;
      }
    @include clearfix;
    }
    .winner {
      @include fill-parent;
      margin-top: $gutter;
      padding: $gutter / 2;
      text-align: center;
      color: $white;
    }
  }
  .update {
    @include fill-parent;
    font-size: 1em;
    border: none;
    background-color: $green;
    padding: $gutter;
    color: #FFFFFF;
  }
}

.map {
  @include span-columns(8 of 12);
  @include omega;
  height: 35em;
}

.description {
  float: right;
  padding-top: $gutter;
}

.sidebar {
  font-family: 'Museo Slab';
  text-align: center;
  h1 {
    font-family: Bree-Regular;
    color: $green;
  }
  @include span-columns(3 of 12);
  img {
    display: block;
    @include fill-parent;
  }
  margin-top: $gutter;
  ul {
    a { font-size: 1.6em; }
    list-style: none;
    padding-left: 0;
    li {
      margin-top: $gutter;
    }
  }
}
#letter {
  font-family: 'Museo Slab';
  font-size: 1.2em;
  font-weight: 300;
  margin-top: $gutter;
  margin-bottom: $gutter;
  @include span-columns(9 of 12);
  background-color: #FFFFFF;
  box-shadow: 4px 4px 2px #CCC;
  padding: $gutter;
}
