@import 'bourbon/bourbon';
@import 'neat/neat';

html, body {
  margin: 0;
}

body {
  font: 400 1em/1.38 Helvetica;
}

.header {
  width: 100%;
  background-color: rgb(222, 222, 222);
  .site-name {
    font: normal 2.375em/1.38 Bree-Regular;
  }
  margin-bottom: $gutter;
}

.container {
  @include outer-container;
}

input {
  background-color: rgb(242, 242, 242);
  display: block;
  float: left;
  width: 37.0405497729%;
  height: 2.846em;
  margin-top: $gutter;
  padding: 0 0.769em;
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.route {
  .inputs {
    @include fill-parent;
    input { margin-left: 0; }
    .location {
      @include span-columns(5 of 12);
      .address { @include fill-parent; }
      .latitude, .longitude { @include span-columns(2 of 5); }
      .longitude { @include omega; }
      .pinpoint {
        display: block;
        @include shift(0.4 of 5);
        @include span-columns(0.6 of 5);
        margin-top: $gutter;
      }
    }
    .middle {
      @include span-columns(2 of 12);
      .arrow {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
      }
      .driver-name {
        @include fill-parent;
        text-align: center;
      }
    }
    .destination {
      @include omega;
    }
  @include clearfix;
  }
  .winner {
    @include fill-parent;
padding-top: $gutter;
    text-align: center;
  }
  @include clearfix;
}

.map {
  @include fill-parent;
  height: 32.5em;
  margin-top: 3.313em;
  margin-bottom: 3.313em;
  background: url('/assets/tokyo-zoom-7.png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
