body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.address {
  display: block;
  float: left;
  width: 100.0008037616%;
  height: 2.615em;
  padding: 0 0.769em;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.arrow {
  display: block;
  position: absolute;
  top: 3.25em;
  left: 46.9775390625%;
  width: 3.75em;
  height: auto;
  overflow: hidden;
}

.driver-name {
  display: inline-block;
  float: left;
  margin: 0.625em 0 0 6.19629%;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.element {
  float: left;
  clear: both;
  width: 80%;
  height: 32.5em;
  margin: 3.313em 0 0 10%;
  background: url('../images/tokyo-zoom-7.png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image {
  display: block;
  float: left;
  clear: both;
  width: 2.5em;
  height: auto;
  margin: 1em 0 0 2.98196%;
  overflow: hidden;
}

.latitude {
  display: block;
  float: left;
  width: 37.0373347265%;
  height: 2.846em;
  margin: 1.462em 0 0 7.70004%;
  padding: 0 0.769em;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.location-form {
  height: 5.625em;
}

.longitude {
  display: block;
  float: left;
  width: 37.0405497729%;
  height: 2.846em;
  margin: 1.462em 0 0 4.93912%;
  padding: 0 0.769em;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.route-form {
  position: relative;
  float: left;
  clear: both;
  width: 80%;
  margin-left: 10%;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
}

.site-name {
  display: inline-block;
  position: absolute;
  top: -0.053em;
  left: 0;
  z-index: 15;
  font: normal 2.375em/1.38 Bree-Regular;
  color: rgb(0, 0, 0);
}

.winner-label {
  display: inline-block;
  float: left;
  clear: both;
  margin: 2.5em 0 0 25.49805%;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

._container {
  position: relative;
  float: left;
  width: 80%;
  height: 3.188em;
  margin-left: 10%;
  background-color: rgb(222, 222, 222);
}

.arrow-1 {
  z-index: 8;
}

.arrow-2 {
  z-index: 23;
}

.location-form-2 {
  position: absolute;
  top: 1em;
  left: 59.4986979166%;
  z-index: 13;
  width: 40.4996744791%;
}

.location-form-1,
.location-form-3 {
  float: left;
  width: 40.5%;
  margin-top: 0.375em;
}

.location-form-4 {
  position: absolute;
  top: 1em;
  left: 59.4986979166%;
  z-index: 28;
  width: 40.4996744791%;
}

.route-form-1 {
  height: 11.875em;
  margin-top: 2.625em;
}

.route-form-2 {
  height: 7.5em;
}