* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0; }

body {
  font: 400 1em/1.38 'Adelle Sans';
  background-color: #f9f4eb; }

.header {
  width: 100%;
  background-color: #00b4ae;
  color: #FFFFFF;
  margin-bottom: 1.618em; }
  .header .site-name {
    font: normal 2.375em/1.38 Bree-Regular; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

a {
  text-decoration: none;
  color: #00b4ae; }
  a:hover {
    color: #000; }

input, label {
  background-color: #f9f4eb;
  font-family: 'Adelle Sans';
  font-size: 1em;
  border: none;
  display: block;
  margin-top: 1.618em;
  margin: 0.809em 0;
  margin-top: 1.618em;
  font-weight: 400;
  color: black;
  outline: none; }

.routes {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .routes:last-child {
    margin-right: 0; }
  .routes .route {
    margin-bottom: 1.618em;
    width: 100%;
    padding: 1.618em; }
    .routes .route:nth-child(2) {
      border: 3px solid #00b4ae; }
      .routes .route:nth-child(2) .winner {
        background-color: #00b4ae; }
      .routes .route:nth-child(2) input {
        color: #00b4ae;
        border-bottom: 1px dotted #00b4ae; }
    .routes .route:nth-child(5) {
      border: 3px solid #e56385; }
      .routes .route:nth-child(5) .winner {
        background-color: #e56385; }
      .routes .route:nth-child(5) input {
        color: #e56385;
        border-bottom: 1px dotted #e56385; }
    .routes .route .inputs {
      width: 100%; }
      .routes .route .inputs .driver-icon {
        display: inline-block;
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 14.06162%;
        margin-left: 5.37115%; }
        .routes .route .inputs .driver-icon:last-child {
          margin-right: 0; }
      .routes .route .inputs .driver-name {
        margin-top: 0.809em; }
      .routes .route .inputs label {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 19.43277%;
        text-align: right;
        padding-right: 0; }
        .routes .route .inputs label:last-child {
          margin-right: 0; }
      .routes .route .inputs input {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 73.14426%;
        margin-right: 0;
        text-overflow: ellipsis;
        margin-left: 0; }
        .routes .route .inputs input:last-child {
          margin-right: 0; }
      .routes .route .inputs:after {
        content: "";
        display: table;
        clear: both; }
    .routes .route .winner {
      width: 100%;
      margin-top: 1.618em;
      padding: 0.809em;
      text-align: center;
      color: #f9f4eb; }
  .routes .update {
    width: 100%;
    font-size: 1em;
    border: none;
    background-color: #00b4ae;
    padding: 1.618em;
    color: #FFFFFF; }

.map {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-right: 0;
  height: 35em; }
  .map:last-child {
    margin-right: 0; }

.description {
  float: right;
  padding-top: 1.618em; }

.sidebar {
  font-family: 'Museo Slab';
  text-align: center;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-top: 1.618em; }
  .sidebar h1 {
    font-family: Bree-Regular;
    color: #00b4ae; }
  .sidebar:last-child {
    margin-right: 0; }
  .sidebar img {
    display: block;
    width: 100%; }
  .sidebar ul {
    list-style: none;
    padding-left: 0; }
    .sidebar ul a {
      font-size: 1.6em; }
    .sidebar ul li {
      margin-top: 1.618em; }

#letter {
  font-family: 'Museo Slab';
  font-size: 1.2em;
  font-weight: 300;
  margin-top: 1.618em;
  margin-bottom: 1.618em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  background-color: #FFFFFF;
  box-shadow: 4px 4px 2px #CCC;
  padding: 1.618em; }
  #letter:last-child {
    margin-right: 0; }
