<div class="header">
  <div class="container">
    <span class="site-name">Rideshare Resolver</span>
  </div>
</div>

<div class="container">
  {{ render "route" routeA }}
  {{ render "route" routeB }}
  <div class="map"></div>
</div>
