<header class="_container">
<p class="site-name">Rideshare Resolver</p>
</header>
<div class="route-form route-form-1 clearfix">
  <div class="location-form location-form-1 clearfix">
    <input class="address" placeholder="Address" type="text">
    <img class="image" src="assets/location.svg">
    <input class="latitude" placeholder="Latitude" type="text">
    <input class="longitude" placeholder="Longitude" type="text">
  </div>
  <p class="driver-name">Driver A</p>
  <div class="location-form location-form-2 clearfix">
    <input class="address" placeholder="Address" type="text">
    <img class="image" src="assets/location.svg">
    <input class="latitude" placeholder="Latitude" type="text">
    <input class="longitude" placeholder="Longitude" type="text">
  </div>
  <img class="arrow arrow-1" src="assets/arrow.svg">
  <p class="winner-label">If Driver A gives driver B a lift, the route will be 2 miles (23%) shorter</p>
</div>
<div class="route-form route-form-2 clearfix">
  <div class="location-form location-form-3 clearfix">
    <input class="address" placeholder="Address" type="text">
    <img class="image" src="assets/location.svg">
    <input class="latitude" placeholder="Latitude" type="text">
    <input class="longitude" placeholder="Longitude" type="text">
  </div>
  <p class="driver-name">Driver B</p>
  <div class="location-form location-form-4 clearfix">
    <input class="address" placeholder="Address" type="text">
    <img class="image" src="assets/location.svg">
    <input class="latitude" placeholder="Latitude" type="text">
    <input class="longitude" placeholder="Longitude" type="text">
  </div>
  <img class="arrow arrow-2" src="assets/arrow.svg">
</div>
<div class="map"></div>
