<div class="header">
  <div class="container">
    <span class="site-name">Rideshare Resolver</span>
  </div>
</div>

<div class="container">
  <div class="routes">
    {{ render "route" routeA }}
    {{ render "route" routeB }}
  </div>
  {{ render "map" map }}
  <button {{action 'updateMap'}}>Update Map</button>
</div>
