<div class="container">
  <div class="sidebar">
    <h1>Hi, I'm Grayson.</h1>
    <img src="http://graysonwright.com/content/images/2014/May/Face.png" alt="Grayson Wright">
    <ul class="links">
      <li><a href="https://github.com/graysonwright/resume" target="_blank">resumé</a></li>
      <li><a href="https://github.com/graysonwright" target="_blank">github</a></li>
      <li><a href="https://twitter.com/grayson_wright" target="_blank">twitter</a></li>
    </ul>
  </div>
  <div id="letter">
    <p>Dear future friends at Lyft,</p>

    <p>My name&#8217;s Grayson. I&#8217;m a big fan of the work you&#8217;re doing, love the principles that drive your company, and would like to join your team.</p>

    <p>In the current market, it&#8217;s no secret that I could apply to and find work at any number of software companies. There&#8217;s certainly no shortage of products that help people share their photos and thoughts. There are plenty of services that reduce the overhead of running a business. There are apps and services that apply to <em>every</em> aspect of our lives. So why Lyft?</p>

    <p>Right now, you&#8217;re tackling one of the biggest problems our society faces today. Transportation is an incredibly complex issue, and orchestrating a global ad-hoc transportation network is a problem at a rarely-seen scale. It&#8217;s not often that such a small group of people can make such a meaningful improvement in lives across the world, and it&#8217;s amazing to see how empowered people become when technology is so responsive to their actual needs.</p>

    <p>Even more impactful than the service you provide are the values that inspire your work. The idea that a company can be a driving force for community, instead of merely feeding off of it. The belief that genuine interactions and friendships are still important in our lives, and can be promoted by technology instead of repressed by it. The will to look beyond roles such as &#8220;passenger&#8221; and &#8220;driver&#8221;, and see the authentic people who fill the roles. Your values have shaped your product and your team, and I respect the conviction with which you uphold them.</p>

    <p>With all that being said, let me fist-bump and introduce myself. Again, my name&#8217;s Grayson. I&#8217;m currently living in Michigan, but I&#8217;m heading to the Bay Area towards the end of the summer. I dabble in rock climbing, cycling, and sailing, I speak Chinese, and I love good conversations over good food and good beer.</p>

    <p>I&#8217;ve been programming for a crazy long time, and just finished up my degree in computer science. A couple summers ago, I interned at Microsoft, and decided I enjoy startup life better than working for a large bureaucratic corporation. Recently, I&#8217;ve been working with a few friends to start an app company that rewards students for using less energy on campus.</p>

    <p>I really enjoy teaching, and since I have a younger brother just getting started with programming I&#8217;m getting pretty good at it. In August, I&#8217;m going to Germany to give my first conference talk (live coding, yikes). I&#8217;m not too shabby at learning, either.</p>

    <p>I&#8217;m sure we have a lot in common, so I&#8217;d love to meet up and talk a bit. Give me a shout and let&#8217;s get to know each other. I always love making new friends.</p>

    <p>Cheers,<br/>
    - Grayson</p>

    <p>P.S. I had fun solving your <a href="https://www.lyft.com/jobs/software-engineer" target="_blank">programming challenge</a>. I knocked it out <a href="https://github.com/graysonwright/lyft-challenge-ruby" target="_blank">in Ruby</a> first, but then decided it was a good excuse to take {{#link-to 'rideshare'}}EmberJS and the Google Maps API{{/link-to}} for a spin. Let me know what you think!</p>
  </div>
</div>
