<div class="location">
  {{input value=address class="address" type="text" placeholder="Address"}}
  <img class="pinpoint" src="assets/location.svg">
  {{input value=latitude class="latitude" placeholder="Latitude" type="text"}}
  {{input value=longitude class="longitude" placeholder="Longitude" type="text"}}
</div>
