<div class="route">
  <div class="inputs">
    <div class="origin location">
      <input class="address" placeholder="Address" type="text">
      <img class="pinpoint" src="assets/location.svg">
      <input class="latitude" placeholder="Latitude" type="text">
      <input class="longitude" placeholder="Longitude" type="text">
    </div>
    <div class="middle">
      <p class="driver-name">{{driverName}}</p>
      <img class="arrow" src="assets/arrow.svg">
    </div>
    <div class="destination location">
      <input class="address" placeholder="Address" type="text">
      <img class="pinpoint" src="assets/location.svg">
      <input class="latitude" placeholder="Latitude" type="text">
      <input class="longitude" placeholder="Longitude" type="text">
    </div>
  </div>
  <div class="winner">If Driver A gives driver B a lift, the route will be 2 miles (23%) shorter</div>
</div>
