<div class="route">
  <div class="inputs">
    {{render "location" origin}}
    <div class="middle">
      {{input value=driverName class="driver-name"}}
      <img class="arrow" src="assets/arrow.svg">
    </div>
    {{render "location" destination}}
  </div>
  {{#if winner}}
  <div class="winner">{{winnerText}}</div>
  {{/if}}
</div>
