<div class="route">
  <div class="inputs">
    {{render "location" origin}}
    <div class="middle">
      {{input value=driverName class="driver-name"}}
      <img class="arrow" src="assets/arrow.svg">
    </div>
    {{render "location" destination}}
  </div>
  <div class="winner">If Driver A gives driver B a lift, the route will be 2 miles (23%) shorter</div>
</div>
