<div class="route">
  <div class="inputs">
    <img class="car" alt="car-icon" src="assets/car.svg">
    {{input value=driverName class="driver-name"}}

    {{input value=origin action="updateMap" class="location origin" type="text" placeholder="Origin"}}
    {{input value=destination action="updateMap" class="location destination" type="text" placeholder="Destination"}}
  </div>
  {{#if winner}}
  <div class="winner">{{winnerText}}</div>
  {{/if}}
</div>
